<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
    <title>Tourmy Home</title>
</head>

<body>
    <main class="container-fluid">
        <%- include('./partials/navbar')%>

        <div id="shop-surfboards">
            <a class="product-home" href="/surfboards">
                <h1 class="shop-text">Surfboards</h1>
                <img src="/images/noseride.jpg" alt="">
            </a>
        </div>

        <div id="shop-fins">
            <a class="product-home" href="/fins">
                <h1 class="shop-text">Fins</h1>
                <img src="/images/fins.jpg" alt="">
            </a>
        </div>

        <div id="shop-accessories">
            <a class="product-home" href="/accessories">
                <h1 class="shop-text">Accessories</h1>
                <img src="/images/shop-accessories.jpg" alt="">
            </a>
        </div>

        <div id="page-break">
            <div class="row">
                <div class="col">All surfboards $100 flat rate shipping in the U.S!</div>
                <div class="col">New boards added to stock daily</div>
                <div class="col">Free returns within 30 days</div>
            </div>
        </div>
        
        <div class="recommend">
            <h1 class="header">Featured Boards</h1>
            <div class="recommended-boards">
                <% for(let i = 0; i < featuredSurfboards.length; i++) {%>
                <div id="surfboard<%=i+1%>" class="featured-boards-panel">
                    <a href="/surfboards/<%=featuredSurfboards[i]._id %>">
                        <img class="product-img" src="<%=featuredSurfboards[i].image%> " alt="">
                        <h2 class="product-name"><%= featuredSurfboards[i].name %></h2>
                        <h6 class="product-price">from $<%=featuredSurfboards[i].price%>.00</h6>
                    </a>
                </div>
                <%  }%>
            </div>
        </div>

        <%- include('./partials/footer')%>
    </main>
    <%- include('./partials/bootstrap_cdn')%>
</body>

</html>