<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
    <title>Tourmy Home</title>
</head>

<body>
    <main class="container-fluid">
        <%- include('./partials/navbar')%>

        <div id="shop-surfboards">
            <a class="product-home" href="/surfboards">
                <h1 class="shop-text">Surfboards</h1>
                <!-- <button class="shop-button">Shop Surfboards</button> -->
                <img src="/images/noseride.jpg" alt="">
            </a>
        </div>

        <div id="shop-fins">
            <a class="product-home" href="/fins">
                <h1 class="shop-text">Fins</h1>
                <!-- <button class="shop-button">Shop Surfboards</button> -->
                <img src="/images/fins.jpg" alt="">
            </a>
        </div>

        <div id="shop-accessories">
            <a class="product-home" href="/accessories">
                <h1 class="shop-text">Accessories</h1>
                <!-- <button class="shop-button">Shop Surfboards</button> -->
                <img src="/images/shop-accessories.jpg" alt="">
            </a>
        </div>

        <div id="page-break">
            <div class="row">
                <div class="col">All surfboards $100 flat rate shipping in the U.S!</div>
                <div class="col">New boards added to stock daily</div>
                <div class="col">Free returns within 30 days</div>
            </div>
        </div>
        
        <div class="recommend">
            <div class="recommended-boards">
                <div id="surfboard1" class="featured-boards-panel ">
                    <a href="/surfboards/<%= featuredSurfboards[0]._id %> ">
                        <img class="product-img" src="/images/surfboards/orig/firewire_seaside.jpg" alt="">
                        <h2 class="product-name">Firewire Seaside</h2>
                        <h6 class="product-price">from $820.00</h6>
                    </a>
                </div>
        
                <div id="surfboard2" class="featured-boards-panel ">
                    <a href="/surfboards/<%= featuredSurfboards[1]._id %> ">
                        <img class="product-img" src="/images/surfboards/orig/hypto_krypto.jpg" alt="">
                        <h2 class="product-name">Hayden Shapes Hypto Krypto</h2>
                        <h6 class="product-price">from $745.00</h6>
                    </a>
                </div>
        
                <div id="surfboard3" class="featured-boards-panel ">
                    <a href="/surfboards/<%= featuredSurfboards[2]._id %> ">
                        <img class="product-img" src="/images/surfboards/orig/superbrand_fling.jpg" alt="">
                        <h2 class="product-name">Superbrand Fling</h2>
                        <h6 class="product-price">from $999.99</h6>
                    </a>
                </div>
        
                <div id="surfboard4" class="featured-boards-panel ">
                    <a href="/surfboards/<%= featuredSurfboards[3]._id %> ">
                        <img class="product-img" src="/images/surfboards/orig/lost_hydra.jpg" alt="">
                        <h2 class="product-name">Lost Hydra</h2>
                        <h6 class="product-price">from $749.99</h6>
                    </a>
                </div>
            </div>
        </div>

        <%- include('./partials/footer')%>
    </main>
    <%- include('./partials/bootstrap_cdn')%>
</body>

</html>