<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <title>Tourmy Cart</title>
</head>

<body>
    <main class="container-cart">
        <%- include('../partials/navbar')%>
        <div class="breadcrumb"><a href="/">Home</a> <span>|</span> <span>Shopping Cart</span></div>
        <h1 class="collection-title">Shopping Cart</h1>


        <div class="cart-items">
            <div class="item">
                <img class="cart-image" src="<%= allProducts[0].image %>" alt="">
                <h4 class="cart-name"><a class="" href="/products/<%=allProducts[1].id%>"><%= allProducts[0].name %></a>
                </h4>
                <div class="cart-qty">
                    <i class="fas fa-minus"></i>
                    <input type="text" value="1">
                    <i class="fas fa-plus"></i>
                </div>

                <span class="cart-price">$<%= allProducts[0].price %>.00</span>
                <i class="cart-remove fas fa-times"></i>
            </div>


            <div class="item">
                <img class="cart-image" src="<%= allProducts[1].image %>" alt="">
                <a class="cart-name" href="/products/<%=allProducts[1].id%>">
                    <h4 class="cart-name"><a class=""
                            href="/products/<%=allProducts[1].id%>"><%= allProducts[1].name %></a></h4>
                </a>

                <div class="cart-qty">
                    <i class="fas fa-minus"></i>
                    <input type="text" value="1">
                    <i class="fas fa-plus"></i>
                </div>

                <span class="cart-price">$<%= allProducts[1].price %>.00</span>
                <i class="cart-remove fas fa-times"></i>
            </div>

            <div class="item">
                <img class="cart-image" src="<%= allProducts[2].image %>" alt="">
                <a class="cart-name" href="/products/<%=allProducts[2].id%>">
                    <h4 class="cart-name"><a class=""
                            href="/products/<%=allProducts[2].id%>"><%= allProducts[2].name %></a></h4>
                </a>

                <div class="cart-qty">
                    <i class="fas fa-minus"></i>
                    <input type="text" value="1">
                    <i class="fas fa-plus"></i>
                </div>

                <span class="cart-price">$<%= allProducts[2].price %>.00</span>
                <i class="cart-remove fas fa-times"></i>
            </div>
        </div>

        <!-- <div class="cart-total">
            <span class="subtotal-text">Subtotal: &nbsp;</span><span class="subtotal-price">$1325.00</span>
        </div> -->

        <div class="cart-summary">
            <!-- <h4 class="cart-details-header">Summary</h4> -->
            <p>Summary</p>
            <p>Do you have a promo code?</p>
            <p class="subtotal-text">Subtotal <span class="subtotal-price">SUBTOTAL HERE</span></p>
            <p>Estimated shipping & handling <span>$9.95</span></p>
            <p>Tax <span class="tax-price">$1.50</span></p>
            <p>Total <span class="total-price">$1336.45</span></p>
            <button class="btn btn-checkout">Check Out</button>

        </div>

        <%- include('../partials/footer')%>
    </main>

    <%- include('../partials/bootstrap_cdn')%>
    <script src="/javascripts/client.js"></script>


</body>

</html>