<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <title>Tourmy Fins</title>
</head>

<body>
    <main class="container-fluid container-shop">
        <%- include('../partials/navbar')%>
        <div class="breadcrumb"><a href="/">Home</a> <span>|</span> <span>Fins</span></div>
        <h1 class="collection-title">Fins</h1>
        <%- include('../partials/sidebar/fins-sidebar')%>
        <div class="toolbar">
            <div>
                <button class="filter-btn"><i class="fas fa-filter"></i> Filter</button>
                <span class="num-results">Showing: <%= allFins.length %> results</span>
                <%- include('../partials/dropdown-sortby')%>
            </div>
        </div>
        <div class="shop-content">
            <% for(let i = 0; i < allFins.length; i++) {%>
            <a href="/fins/<%= allFins[i]._id %> ">
                <div class="product<%= i+1 %> ">
                    <div>
                        <img class="product-img" src=<%=allFins[i].image%> alt="">
                        <h2 class="product-name"><%= allFins[i].name %> </h2>
                        <!-- <h2 class="product-desc"><%= allFins[i].description %> </h2> -->
                        <h6 class="product-price">$<%= allFins[i].price %>.00 </h6>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
        <%- include('../partials/footer')%>
    </main>
    <%- include('../partials/bootstrap_cdn')%>
</body>

</html>